

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
  }
  p {
      margin-bottom: 0px;
      font-size: 15px;
      font-weight: 400;
      color: #7a7a7a;
      line-height: 30px;
  }
  a {
      text-decoration: none!important;
  }
  ul {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }
  
  .main-button a {
      display: inline-block;
      background-color: #ef44ff;
      color: #fff;
      font-size: 13px;
      font-weight: 500;
      padding: 12px 20px;
      text-transform: uppercase;
      transition: all .3s;
  }
  
  .main-button a:hover {
      background-color: #ef44ff;
  }
  
  .heading-page {
      padding-top: 110px;
  }
  
  .page-heading {
      margin: 0px 10px;
      padding: 120px 0px;
      text-align: left;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../images/heading-bg.jpg);
  }
  
  .page-heading .text-content h4 {
      color: #ef44ff;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 0.5px;
      margin-bottom: 15px;
  }
  
  .page-heading .text-content h2 {
      color: #fff;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.5px;
  }
  
  #preloader {
    overflow: hidden;
    background: #ef44ff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    color: #fff;
  }
  
  #preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
  }
  
  #preloader .jumper > div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
  }
  
  #preloader .jumper > div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
  }
  
  #preloader .jumper > div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
  }
  
  @-webkit-keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  
  @keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  /*Page Content*/
  body{
    background:#fff;  
  font-family: 'Roboto Slab', serif;
    color:#333
  }
  /* Default: Side heading */
  #cover{
    display:flex;
    height:70vh;
    min-height:70vh;
    align-items:center;
    background:#fff;
    box-shadow:0 9px 16px -6px #0005;
    position:relative;
    overflow:hidden
  }
  #cover .cover-image, #cover .cover-text{
    width:50%;
    box-sizing:border-box
  }
  #cover .cover-image{
    object-fit:cover;
    height:100%;
    min-height:40vh
   }
  #cover .cover-text{
    text-align:center;
    padding:1em
  }
  #cover h2{
    font-family: 'Playfair Display', serif;
    font-size:3em;
    font-weight:400;
    line-height:1em
  }
  #cover h4{
     font-weight:400
  }
  /* Top heading */
  
    #cover.top {
      flex-direction:column;
    }
   #cover.top .cover-text, #cover.top .cover-image{
     width:100%
    }
  #cover.top .cover-image{
    height:50vh
  }
  #cover.top h2{
    font-size:2em
  }
  
  /* Heading Over */
  
  #cover.over:after{
    content:"";
    display:block;
    width:100%;
    height:100%;
    background:#0004;
    position:absolute;
    z-index:1;
    top:0;
    left:0;
    
  }
  #cover.over .cover-text, #cover.over .cover-image{
    width:100%

  }
  #cover.over .cover-text{
    color:#fff;
    align-self:flex-end;
    position:relative;
    z-index:2
  }
  #cover.over .cover-image{
    position:absolute;
    z-index:0
  }
  
  @media (max-width:500px){
  
    #cover:not(.over) {
      flex-direction:column;
      height:fit-content
    } 
    #cover h2{
    font-size:2em
    }
    #cover .cover-text, #cover .cover-image{
     width:100%
    }
  }
  
  /* Article */
  
  article{
    width:80vw;
    min-width:350px;
    max-width:900px;
    margin:30px auto;
    box-shadow:0 19px 16px -16px #0005;
  }
  
  #by{
    display:flex;
    align-items:center;
    margin-bottom:25px
  }
  #by img{
    width:40px;
    border-radius:50%;
  }
  #by i, #by a{
    display:inline-block;
    padding-left:10px;
    color:#999;
    font-size:0.8em
  }
  article p{

    text-align:justify
  }
  article .cite{
    background:#ddd;
    padding:25px 15px;
    box-sizing:border-box;
    float: right;
    display:block;
    width:fit-content;
    text-align: center;
    margin:0 0 15px 15px;
    font-family: 'Playfair Display', serif;
    font-size:0.8em
  }
  article .cite b{
    font-size:1.6em;
    font-style:normal;
    display:block
  }
  article footer{
    display:block;
    border-top:1px solid #bbb;
    margin:35px 15px;
    padding:25px 5px;
    color:rgb(255, 233, 32);
    font-size: 0.8em
  }
  
  article footer a{
    background:rgb(116, 0, 116);
    padding:5px 10px;
    border-radius:5px;
    color:#ddd;
    text-decoration:none;
    margin-right:5px
  }
  article footer a:hover{
    background:rgb(220, 11, 248);
    color: rgb(66, 2, 56);
  }
  /* Just for demo */
  
  #select{
    position:fixed;
    right:5px;
    bottom:5px;
    background:#0006;
    padding:5px 15px;
    border-radius:5px
  }
  #select a{
    color:#fff;
    font-family:sans-serif;
    font-size:12px;
    text-decoration:none
  }
  #select .active, #select a:hover{
    text-decoration:underline
  }
  
  /* Header Style */
  header {
      position: absolute;
      z-index: 99999;
      width: 100%;
      height: 100px;
      background-color: #1d0120;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
  }
  header .navbar {
      padding: 25px 0px;
  }
  .background-header .navbar {
      padding: 17px 0px;
  }
  .background-header {
      top: 0;
      height: 80px;
      position: fixed;
      box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
  }
  .background-header .navbar-brand h2 {
      color: yellow!important;
  }
  .background-header .navbar-nav a.nav-link {
      color: #ffffff!important;
  }
  .background-header .navbar-nav .nav-link:hover,
  .background-header .navbar-nav .active>.nav-link,
  .background-header .navbar-nav .nav-link.active,
  .background-header .navbar-nav .nav-link.show,
  .background-header .navbar-nav .show>.nav-link {
      color: #ef44ff!important;
  }
  .navbar .navbar-brand {
      float: 	left;
      margin-top: -12px;
      outline: none;
  }
  .navbar .navbar-brand h2 {
      color: #1e1e1e;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 900;
      -webkit-transition: all .3s ease 0s;
      -moz-transition: all .3s ease 0s;
      -o-transition: all .3s ease 0s;
      transition: all .3s ease 0s;
  }
  .navbar .navbar-brand h2 em {
      font-size: 44px;
      font-style: normal;
      color: #ef44ff;
  }
  #navbarResponsive {
      z-index: 999;
  }
  .navbar-collapse {
      text-align: center;
  }
  .navbar .navbar-nav .nav-item {
      margin: 0px 15px;
  }
  .navbar .navbar-nav a.nav-link {
      text-transform: capitalize;
      font-size: 15px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      color: #ffffff;
      transition: all 0.3s;
  }
  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .active>.nav-link,
  .navbar .navbar-nav .nav-link.active,
  .navbar .navbar-nav .nav-link.show,
  .navbar .navbar-nav .show>.nav-link {
      color: #ef44ff;
  }
  .navbar .navbar-toggler-icon {
      background-image: none;
  }
  .navbar .navbar-toggler {
      border-color: #fff;
      background-color: #ef44ff;	
      height: 46px;
      outline: none;
      border-radius: 0px;
      position: absolute;
      right: 30px;
      top: 25px;
  }
  .navbar .navbar-toggler-icon:after {
      content: '\f0c9';
      color: #fff;
      font-size: 18px;
      line-height: 30px;
      font-family: 'FontAwesome';
  }
  
  
  
  /* Footer */
  
  footer {
      margin-top: 100px;
      text-align: center;
      background-color: #1d0120;
      padding: 60px 0px;
  }
  
  footer ul.social-icons {
      padding-bottom: 60px;
      margin-bottom: 60px;
      border-bottom: 1px solid rgba(250,250,250,0.15);
  }
  
  footer ul.social-icons li {
      display: inline-block;
      margin-right: 30px;
  }
  
  footer ul.social-icons li:after {
      content: "|";
      color: #fff;
      margin-left: 30px;
  }
  
  footer ul.social-icons li:last-child {
      margin-right: 0px;
  }
  
  footer ul.social-icons li:last-child::after {
      display: none;
  }
  
  footer ul.social-icons li a {
      font-size: 14px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 500;
      letter-spacing: 0.25px;
      transition: all .3s;
  }
  
  footer ul.social-icons li a:hover {
      color: #ef44ff;
  }
  
  footer p {
      font-size: 13px;
      text-transform: uppercase;
      color: #fff;
  }
  
  footer p a {
      color: #ef44ff;
  }
  
  footer p a:hover {
      color: #ef44ff;
  }
  
  
  /* Contact Form */
  
  .contact-us .down-contact,
  .contact-us #map {
      margin-top: 80px;
  }
  
  .contact-us .sidebar-heading h2 {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 0.5px;
      color: #20232e;
      border-bottom: 1px solid #eee;
      padding-bottom: 15px;
      margin-bottom: 25px;
  }
  
  .contact-us .contact-form input {
      width: 100%;
      height: 46px;
      border: 1px solid #eee;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 500;
      color: #7a7a7a;
      outline: none;
      padding: 0px 15px;
      margin-bottom: 30px;
  }
  
  .contact-us .contact-form textarea {
      width: 100%;
      height: 46px;
      border: 1px solid #eee;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 500;
      color: #7a7a7a;
      outline: none;
      padding: 10px 15px;
      margin-bottom: 30px;
      height: 180px;
      max-height: 220px;
      max-width: 100%;
      min-width: 160px;
  }
  
  .contact-us .contact-form input::placeholder,
  .contact-us .contact-form textarea::placeholder {
      color: #aaa;
  }
  
  .contact-us .contact-form button {
      display: inline-block;
      background-color: #ef44ff;
      color: #fff;
      font-size: 13px;
      font-weight: 500;
      padding: 12px 20px;
      text-transform: uppercase;
      transition: all .3s;
      border: none;
      outline: none;
  }
  
  .contact-us .contact-form button:hover {
      background-color: #ef44ff;
  }
  
  .contact-us .contact-information {
      margin-left: 30px;
  }
  
  .contact-us .contact-information ul li {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #eee;
  }
  
  .contact-us .contact-information ul li:last-child {
      margin-bottom: 0px;
      padding-bottom: 0px;
      border-bottom: none;
  }
  
  .contact-us .contact-information ul li h5 {
      font-size: 19px;
      font-weight: 900;
      color: #20232e;
      line-height: 30px;
  }
  
  .contact-us .contact-information ul li span {
      display: block;
      font-size: 14px;
      color: #aaa;
      margin-top: 8px;
  }
  
  
  /* About Us */
  
  .about-us {
      margin-top: 100px;
      text-align: center;
  }
  
  .about-us img {
      width: 100%;
      overflow: hidden;
  }
  
  .about-us p {
      margin: 40px 0px;
      border-bottom: 1px solid #eee;
      padding-bottom: 40px;
  }
  
  .about-us ul li {
      display: inline-block;
      margin: 0px 5px;
  }
  
  .about-us ul li a {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      display: inline-block;
      background-color: #212931;
      color: #fff;
      border-radius: 50%;
      transition: all .3s;
  }
  
  .about-us ul li a:hover {
      background-color: #ef44ff;
  }
  
  
  /* Responsive Style */
  @media (max-width: 1250px) {
      .owl-banner .owl-nav .owl-prev {
          left: 0px;
      }
      .owl-banner .owl-nav .owl-next {
          right: 0px;
      }
      .owl-banner .owl-nav button span {
          width: 35px;
      }
      .owl-banner .item .item-content .meta-category span {
          font-size: 16px;
      }
      .owl-banner .item .item-content h4 {
          font-size: 20px;
      }
  }
  @media (max-width: 768px) {
      .owl-banner .owl-nav {
          display: none;
      }
  }
  
  @media (max-width: 992px) {
      .navbar .navbar-brand {
          position: absolute;
          left: 30px;
          top: 25px;
      }
      .background-header .navbar-brand,
      .background-header .navbar-toggler {
          top: 15px;
      }
      .navbar .navbar-brand {
          width: auto;
      }
      .navbar:after {
          display: none;
      }
      #navbarResponsive {
          z-index: 99999;
          position: absolute;
          top: 80px;
          left: 0;
          width: 100%;
          text-align: center;
          background-color: #fff;
          box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
      }
      .navbar .navbar-nav .nav-item {
          border-bottom: 1px solid #eee;
      }
      .navbar .navbar-nav .nav-item:last-child {
          border-bottom: none;
      }
      .navbar .navbar-nav a.nav-link {
          padding: 15px 0px;
          color: #1e1e1e!important;
      }
      .navbar .navbar-nav .nav-link:hover,
      .navbar .navbar-nav .active>.nav-link,
      .navbar .navbar-nav .nav-link.active,
      .navbar .navbar-nav .nav-link.show,
      .navbar .navbar-nav .show>.nav-link {
          color: #ef44ff!important;
          border-bottom: none!important;
          padding-bottom: 15px;
      }
      .owl-banner .item .item-content .meta-category span {
          font-size: 18px;
      }
      .owl-banner .item .item-content {
          text-align: center;
          width: 80%;
          left: 50%;
          top: 50%;
          bottom: auto;
          transform: translate(-50%,-50%);
      }
      .owl-banner .item .item-content h4 {
          font-size: 24px;
      }
      .call-to-action {
          text-align: center;
      }
      .call-to-action .main-content .main-button {
          text-align: center;
          margin-top: 30px;
      }
      .sidebar {
          margin-left: 0px;
          margin-top: 60px;
          padding-top: 60px;
          border-top: 3px solid #f7f7f7;
      }
      .contact-us .contact-information {
          margin-left: 0px;
          margin-top: 60px;
      }
  }